spring:
  application:
    name: vibeapp
  profiles:
    active: dev
  thymeleaf:
    cache: false
    mode: HTML
    encoding: UTF-8
    prefix: classpath:/templates/
    suffix: .html

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./data/testdb;NON_KEYWORDS=USER;AUTO_SERVER=TRUE
    username: sa
    password:
  sql:
    init:
      mode: always
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: com.example.vibeapp.post
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    org.springframework.boot.autoconfigure: DEBUG
  file:
    name: ./logs/app.log

debug: true

server:
  port: 8080
